<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Form Örneği</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Başvuru Formu
        </div>
        <div class="card-body">
          <form [formGroup]="form" novalidate>
            <div class="form-group">
              <label for="name">İsminiz</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="İsminiz">
            </div>
            <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['name'].errors">
                Zorunlu alan.
              </div>
            </div>
            <div class="form-group">
              <label for="surname">Soyadınız</label>
              <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Soyadınız">
            </div>
            <div *ngIf="form.controls['surname'].invalid && (form.controls['surname'].dirty || form.controls['surname'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['surname'].errors">
                Zorunlu alan.
              </div>
            </div>

            <div class="form-group">
              <label for="class">Sınıfınız</label>
              <input type="text" class="form-control" id="class" formControlName="class" placeholder="Sınıfınız">
            </div>
            <div *ngIf="form.controls['class'].invalid && (form.controls['class'].dirty || form.controls['class'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['class'].errors">
                Zorunlu alan.
              </div>
            </div>

            <div class="form-group">
              <label for="email">E-mailiniz</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Emailiniz">
            </div>
            <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['email'].errors">
                Zorunlu alan.
              </div>
            </div>
            <div class="form-group">
              <label for="phone_number">Telefon Numaranız</label>
              <input type="text" class="form-control" id="phone_number" formControlName="phone_number" placeholder="Telefon numaranızı giriniz">
            </div>
<!--            <div *ngIf="m.phone_number.touched && m.phone_number.invalid" class="alert alert-danger">-->
<!--              <div *ngIf="m.phone_number.errors?.pattern">Lütfen telefon numaranızı 10 haneli şekilde giriniz.</div>-->
<!--              <div *ngIf="m.phone_number.errors?.required">Zorunlu alan.</div>-->
<!--            </div>-->
            <div *ngIf="form.controls['phone_number'].invalid && (form.controls['phone_number'].dirty || form.controls['phone_number'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['phone_number'].errors">
                Zorunlu alan.
              </div>
            </div>

            <div class="form-group">
              <label for="department">Başvuru yapmak istediğiniz bölümü seçiniz</label>
              <select class="form-control" id="department" formControlName="department">
                <option disabled selected>Bölüm Seçiniz</option>
                <option *ngFor="let item of departments" [value]="item">{{ item }}</option>
              </select>
            </div>
            <div *ngIf="form.controls['department'].invalid && (form.controls['department'].dirty || form.controls['department'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['department'].errors">
                Zorunlu alan.
              </div>
            </div>
            <div class="form-group">
              <label for="experience">Herhangi bir tecrübeniz var mı? Varsa belirtiniz.</label>
              <input type="text" class="form-control" id="experience" formControlName="experience" placeholder="Herhangi bir tecrübeniz var mı? Varsa belirtiniz.">
            </div>
            <div *ngIf="form.controls['experience'].invalid && (form.controls['experience'].dirty || form.controls['experience'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['experience'].errors">
                Zorunlu alan.
              </div>
            </div>

            <div class="form-group">
              <label for="organization">Deneyap veya Bilsem organizasyonlarına üye misiniz?</label>
              <select class="form-control" id="organization" formControlName="organization">
                <option disabled selected>Cevap seçiniz</option>
                <option *ngFor="let item of bool" [value]="item">{{ item }}</option>
              </select>
            </div>
            <div *ngIf="form.controls['organization'].invalid && (form.controls['organization'].dirty || form.controls['organization'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['organization'].errors">
                Zorunlu alan.
              </div>
            </div>

            <div class="form-group">
              <label for="available_time">Atölye çalışmalarına ne sıklıkla katılabilirsiniz?</label>
              <select class="form-control" id="available_time" formControlName="available_time">
                <option disabled selected>Saat seçiniz</option>
                <option *ngFor="let item of available_times" [value]="item">{{ item }}</option>
              </select>
            </div>
            <div *ngIf="form.controls['available_time'].invalid && (form.controls['available_time'].dirty || form.controls['available_time'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['available_time'].errors">
                Zorunlu alan.
              </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="form.pristine || form.invalid" (click)="send()">Onayla</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
